body {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #626262;
}

/* Header start */
header {
  padding: 35px 0;
}

.container {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 10%;
  margin-top: 8px;
}

.logo a img {
  width: 100%;
}

.menu {
  float: right;
  width: 65%;
}

.menu ul {
  float: right;
  margin: 0;
  padding: 0;
}

.menu ul li {
  list-style: none;
  float: left;
}

.menu ul li a {
  color: #626262;
  display: inline-block;
  margin: 0 60px;
  text-decoration: none;
  transition: 0.33s linear;
  border-bottom: 1px solid transparent;
}

.menu ul li:last-child a {
  margin-right: 0;
}

.menu ul li a:hover {
  border-bottom: 1px solid #626262;
}
/* Header end */

/* Banner section start */
.banner {}

.b-img a img {
  width: 100%;
}
/* Banner section end */

/* Getaway section start */
.getaway {
  padding: 100px 0 80px;
}

.container2 {
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
}

.c-content {
  padding: 30px 0;
}

.c-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.c-content .c-title {
  font-size: 30px;
  font-weight: 400;
  margin: 15px 0 25px;
}

.c-content .c-paragraph {
  margin: 0;
}

.link {
  padding-top: 20px;
  display: inline-block;
  color: #626262;
  text-decoration: none;
}
/* Getaway section end */

/* Blog section start */
.blog {
  padding: 0 0 100px;
}

.sb-iteam {
  margin-top: 60px;
  float: left;
  width: 46%;
}

.sb-iteam:nth-child(even) {
  margin-left: 4%;
}

.sb-img {
  margin-bottom: 20px;
}

.sb-img img {
  width: 100%;
}
/* Blog section end */

/* Newsletter section start */
.newslatter {
  padding: 70px 0;
  background-color: #f0f0f0;
}

.signup {
  text-align: center;
}

.c-h1 {
  color: #333;
  margin-bottom: 70px;
}

.c-form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.c-form input {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 300;
  color: #626262;
  width: 100%;
  height: 45px;
  border: none;
  border-bottom: 1px solid #626262;
  background: transparent;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 45px;
}

.c-form input:focus {
  outline: none;
}

.c-form button {
  position: absolute;
  border: none;
  background: none;
  top: 16px;
  right: 0px;
  cursor: pointer;
}

.c-form button:focus {
  outline: none;
}
/* Newsletter section end */

/* Blog 2 start */
.blog2 {
  padding-top: 20px;
}

.load {
  text-align: center;
  padding: 160px 0;
}

.load button {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  width: 160px;
  height: 60px;
  border-bottom: 2px solid #626262;
  background-color: white;
  cursor: pointer;
  transition: 0.33s linear;
}

.load button:hover {
  color: white;
  background-color: #626262;
}
/* Blog 2 end */

/* Footer section start */
footer {
  background-color: #f0f0f0;
  overflow: hidden;
  color: #000000;
  padding: 40px 0 40px;
   
}

.page {float: left;
  width: 20%;
  /*border: 1px solid red;*/
   
}

.page ul {
   
}

.page ul li {
     display: inline-block;
    text-decoration: none;
    list-style: none;
  
}

.page ul li a {
      color: #000;
      margin-left: 20px;
      text-decoration: none;
   
}

.social {
  float: right;
  width: 16%;
  /*border: 1px solid red;*/
   
}

.social ul {
  
}

.social ul li {
   display: inline-block;
   margin-left: 20px;
  list-style: none;
   
}

.social ul li a img {}
 
/* Footer section end */
